@using MvcStok.Models.Entities;
@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-ordered">
    <tr>
        <th>Ürün Id</th>
        <th>Ürün Adı</th>
        <th>Ürünün Markası</th>
        <th>Ürün Kategorisi</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var urunler in Model)
        {
            <tr>
                <td>@urunler.URUNID</td>
                <td>@urunler.URUNAD</td>
                <td>@urunler.MARKA</td>
                <td>@urunler.TBLKATEGORILER.KATEGORIAD</td> <!--Tblkategorilerdeki kategoriadı gelmesi için kullandım.-->
                <td>@urunler.FIYAT</td>
                <td>@urunler.STOK</td>
                <th><a href="/Urun/Sil/@urunler.URUNID" class="btn btn-danger">Sil</a></th>
                <th><a href="/Urun/UrunGetir/@urunler.URUNID" class="btn btn-primary">Güncelle</a></th>
            </tr>
        }
    </tbody>
</table>
<a href="/Urun/YeniUrun/"class="btn btn-success">Yeni Ürün Ekle</a>

